/* font-family: "Ovo", serif;
 * font-family: "Inter", sans-serif;
*/

@media screen {
    img {
        width: 100%;
        display: flex;
                margin: auto;

    }

    h1 {
        font-family: "Ovo", serif;
        font-size:50px;
        text-align:center;
    }

    h2 {
        font-family: "Inter", sans-serif;
        font-size: 20px;
    }

    h3 {
        font-family: "Inter", sans-serif;
        font-size: 15px;
    }
    
    h4 {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        width: 100%;
        margin: auto;
        padding: 25px 0px 10px 0px;
    }

    #topper {
        background-image: url(world-cup-trophy.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    p {
        width: 100%;
        margin: auto;
        padding-top: 15px;
        font-size: 17px;
    }

    .caption {
        font-size: 10px;
        padding: 0;
        margin: auto;
    }
    
    .headlinebox {
        margin:40% 10% 0px 10%;
        background-color:rgba(0, 0, 0, 0.5);
        color:white;
    }
}

@media (min-width: 576px) {
    p {
        width: 60%;
        margin: auto;
        padding-top: 15px;
    }
    
        h4 {
        width: 60%;
        margin: auto;
        padding: 25px 0px 10px 0px;
    }
    
     img {
        width: 60%;
        margin: auto;
    }
}
