/* font-family: "Ovo", serif;
 * font-family: "Inter", sans-serif;
*/

@media screen {
    img {
        width: 100%;
        display: flex;
        margin: auto;
    }

    h1 {
        font-family: "Ovo", serif;
        font-size: 50px;
        text-align: center;
    }

    h2 {
        font-family: "Inter", sans-serif;
        font-size: 20px;
    }

    h3 {
        font-family: "Inter", sans-serif;
        font-size: 15px;
    }

    h4 {
        font-family: "Ovo", serif;
        font-weight: 1000;
        font-size: 30px;
        color: #005a00;
        width: 100%;
        margin: auto;
        padding: 10px 0px 10px 0px;
    }

    #topper {
        background-image: url(world-cup-trophy.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    p,
    .pull-quote {
        width: 100%;
        margin: auto;
        padding: 15px;
        font-size: 17px;
    }

    .caption {
        font-size: 10px;
        padding: 0;
        margin: auto;
    }

    .headlinebox {
        margin: 40% 10% 0px 10%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
    }

    #qualified {
        width: 60%;
        margin: auto;
        padding: 15px 0% 15px 0%;
    }

    #hosts {
        width: 60%;
        margin: auto;
        padding: 15px 0% 15px 0%;
    }

    #prices {
        width: 60%;
        margin: auto;
        padding: 15px 0% 15px 0%;
    }

    #qatar {
        width: 60%;
        margin: auto;
        padding: 15px 0% 15px 0%;
    }

    .disclaimer {
        font-style: italic;
    }

    .pull-quote {
        background-color: #005a00;
        color: white;
        border: 3px solid black;
    }

    .quote {
        width: 100%;
        margin: auto;
        font-family: "Ovo", serif;
        font-size: 20px;
    }

    .quotemark {
        font-size: 200px;
        float: left;
        line-height: 0em;
        padding-top: 80px;
        font-family: "Ovo", serif;
        padding-bottom: 50px;
    }

    .attribution {
        margin-left: auto;
    }
}

@media (min-width: 576px) {
    p,
    .pull-quote {
        width: 60%;
        margin: auto;
        padding: 15px;
    }

    h4 {
        width: 60%;
        margin: auto;
        padding: 25px 0px 10px 0px;
    }

    img {
        width: 60%;
        margin: auto;
    }
}
