/*
MY COLOR PALETTE
Color 1 - #05668d
Color 2 - #427aa1
Color 3 - #cdedf6
Color 4 - #edafb8
Color 5 - #7d1d3f
*/

body {
    background-color: #cdedf6;
    text-align: center;
}

button {
    background-color: #7d1d3f;
    color: #edafb8;
    font-family: "Fauna One", serif;
    text-transform: uppercase;
    width: 200px;
    padding: 10px;
    margin-top: 50px;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: #05668d;
}

h1 {
    font-family: "Cinzel", serif;
}

h2 {
    font-family: "Fauna One", serif;
}
