/*
MY COLOR PALETTE
Blue - #335C67
Light Yellow - #FFF3B0
Mustard - #E09F3E
Red - #9E2A2B
Maroon - #540B0E
*/

@media screen {
    img {
        width: 80%;
        border-radius: 500px;
    }

    #navigation {
        background-color: #540b0e;
        padding: 5px;
    }

    body {
        background-color: #fff3b0;
    }

    button {
        background-color: #9e2a2b;
        color: #e09f3e;
        font-family: "Fauna One", serif;
        text-transform: uppercase;
        width: 200px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 20px;
    }

    button:hover {
        background-color: #335c67;
    }

    h1 {
        font-family: "Cinzel", serif;
        color: #540b0e;
        font-weight: 600;
        font-size: 50px;
    }

    h2 {
        font-family: "Fauna One", serif;
        color: #335c67;
        font-size: 25px;
    }

    h3 {
        font-family: "Cinzel", serif;
        color: #e09f3e;
    }

    h4 {
        font-family: "Cinzel", serif;
        color: #540b0e;
    }

    h5 {
        font-family: "Fauna One", serif;
        color: #335c67;
    }

    p {
        font-family: "Fauna One", serif;
        color: #335c67;
    }

    ul {
        font-family: "Fauna One", serif;
        color: #335c67;
    }

    a {
        color: #e09f3e;
        text-decoration: none;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 90px;
    }
    img {
        width: 400px;
    }
}
