/*
MY COLOR PALETTE
Blue - #335C67
Light Yellow - #FFF3B0
Mustard - #E09F3E
Red - #9E2A2B
Maroon - #540B0E
*/

img {
    width: 100%;
}

body {
    background-color: #FFF2B0;
}

button {
    background-color: #9E2A2B;
    color: #E09F3E;
    font-family: "Fauna One", serif;
    text-transform: uppercase;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: #335C67;
}

h1 {
    font-family: "Cinzel", serif;
    color: #540B0E;
    margin-top: 10px;
}

h2 {
    font-family: "Fauna One", serif;
    color: #335C67;
    margin-top: 25px;
}

h3{
    font-family: "Fauna One", serif;
    color: #335C67;
}

h4 {
    font-family: "Fauna One", serif;
    color: #335C67;
}

h5 {
    font-family: "Fauna One", serif;
    color: #335C67;
}

p {
    font-family: "Fauna One", serif;
    color: #335C67;
}

ul {
    font-family: "Fauna One", serif;
    color: #335C67;
}